* {
	background-color: #4a4a4f;
}
.button-group button {
	background-color: #4a4a4f;
	border: 0px;
	color: rgba(249, 249, 250, 0.8);
	padding: 10px 24px;
	cursor: pointer;
	width: 300px;
	display: block;
	font-size: medium;
	text-align: left;
}

.button-group button:not(:last-child) {
	border-bottom: none;
}

.button-group button:hover {
	background-color: #737373;
}

.button-group button:focus {
	background-color: #737373;
}